<!doctype html>
<html>
<head>
    <title>환영합니다</title>
    <link rel="stylesheet" href="stylesheet.css?after"/>
</head>
    <body>
        <header>
            <div class="header">
                <h2><a href="index.html">AFAC</a></h2>
            </div>
        </header>
        <nav>
            <a href="index.html" class="nonehref"><div>STYLE</div></a>
            <a href="index.html" class="nonehref"><div>LIFE</div></a>
            <a href="index.html" class="nonehref"><div>PLAY</div></a>
        </nav>
        <section>
            <div class="cotton">
            </div>
            <hr />
        </section>
        <section>
            <div class="postcard">
                <a href="content.html" class="nonehref">
                    <div class="postcard_img">
                    </div>
                    <h2>
                        hehe
                    </h2>
                    <p>

                    </p>
                </a>
            </div>
        </section>
        <footer>
            <address><a href="mailto:eclip6@naver.com" class="nonehref" id="footer_address">helf@example.com</a></address><br />
            <small>Copyright &cap; copy; 2018 JejuAlrock</small>
        </footer>
    </body>
</html>